
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="margin-top: 50px">
	<h1>Beklenmedik Hata!</h1>
	<p>
		Sistemde beklenmedik bir hata olustu. Sistem yoneticileri su an hatayi incelemekte.
	</p>
</div>

