.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
**/node_modules/
**/obj/
**/bin/
**/wwwroot/dist/
publish
coverage-html
coverage.json
coverage-hits.txt
Jenkinsfile
README.md
deploy.sh
deploy-prod.sh
test-results/