@model LoginViewModel
<div class="login-page">
    <div class="login-box">
        <div class="logo">
            <img height="60" alt="TestOkur" src="~/dist/logo.png">
        </div>
        <div class="card">
            <div class="body">
                <form asp-route="Login" id="sign_in" class="form-signin">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="msg">Lutfen kullanici bilgilerinizi giriniz</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="material-icons">person</span>
                        </span>
                        <div class="form-line">
                            <input type="text" id="Username" asp-for="Username" class="form-control" name="Username" placeholder="Kullanici adi" required title="Zorunlu alan" autofocus aria-required="true">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="material-icons">lock</span>
                        </span>
                        <div class="form-line">
                            <input type="password" asp-for="Password" class="form-control" name="Password" placeholder="Parola" required title="Zorunlu Alan" aria-required="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input asp-for="RememberLogin" type="checkbox" name="rememberme" id="rememberme" class="chk-col-light-blue" checked>
                            <label for="rememberme">Beni Hatirla</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-blue" type="submit">Oturum Ac</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>