@model ResetPasswordModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-page">
	<div class="login-box">
		<div class="logo">
			<img height="60" alt="TestOkur" src="~/dist/logo.png">
		</div>
		<div class="card">
			<div class="body">
				@if (Model.Success)
				{
					<div class="alert bg-green">
						<div style="display: flex; flex-wrap: wrap; align-items: center;">
							<div><i class="material-icons">check_circle</i></div>
							<div style="font-size: 16px; margin-left: 10px;">
								Parolaniz basariyla degistirildi.
							</div>
						</div>
					</div>
				}
				@if (!Model.Success)
				{
					<form asp-route="account/reset-password" id="sign_in" class="form-signin">
						<div class="msg">Yeni parola bilgilerini asagiya giriniz</div>
						<div class="input-group">
							<span class="input-group-addon">
								<i class="material-icons">lock</i>
							</span>
							<div class="form-line">
								<input type="password" asp-for="NewPassword" class="form-control" name="NewPassword" placeholder="Yeni Parola" required title="Zorunlu Alan" aria-required="true">
							</div>
						</div>
						<div class="input-group">
							<span class="input-group-addon">
								<i class="material-icons">lock</i>
							</span>
							<div class="form-line">
								<input type="password" asp-for="NewPasswordRepeat" class="form-control" name="NewPasswordRepeat" placeholder="Yeni Parola Tekrar" required title="Zorunlu Alan" aria-required="true">
							</div>
						</div>
						<div class="row">
							<button class="btn btn-block bg-blue" type="submit">Tamam</button>
						</div>
					</form>
				}
			</div>
		</div>
	</div>
</div>
